.product-details-container {
  grid-column: 2/5;
  margin-top: 3rem;
  min-height: 10rem;
  display: grid;
  grid-template-columns: 1fr;
  // grid-template-columns: max-content 1fr max-content;
  border: 1px solid purple;
  border-radius: 5px;
}

.details-img-button {
  display: flex;
  flex-direction: column;
}

.goback-button {
  height: 2rem;
  width: 8rem;
  margin: 1rem;
  a {
    text-decoration: none;
  }
}

.product-details-image {
  height: 200px;
  width: 175px;
  margin: 1rem 1rem;
  border-radius: 3px;
  align-self: center;
}

.product-details-description-container {
  padding: 0.5rem;
  list-style: none;
  border-left: 1px solid #ccc;
}
.product-details-description {
  margin-top: 1rem;
  text-align: left;
}

.product-details-price {
  width: 100%;
  padding: 1rem;
  border-left: 1px solid #ccc;
  min-width: 200px;
}
